@import "./static/iconfont.css";
:root{
	font-family: 'yahei';
}

.text-primary{
	color: $uni-color-primary;
}
.text-grey{
	color: #A9A9A9;
}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.bg-white{
	background: #FFFFFF;
}
.bg-grey{
	background: #f3f3f3;
}

.font-sm{
	font-size: 12px;
}

// --------flex公共类
.flex-row{display: flex; flex-direction: row;}
.flex-row-reverse{display: flex; flex-direction: row-reverse;}
.flex-column{display: flex; flex-direction: column;}
.flex-column-reverse{display: flex; flex-direction: column-reverse;}
.flex-jst-start{justify-content: flex-start;}
.flex-jst-end{justify-content: flex-end;}
.flex-jst-center{justify-content: center;}
.flex-jst-ard{justify-content: space-around;}
.flex-jst-btw{justify-content: space-between;}
.flex-ali-start{align-items: flex-start;}
.flex-ali-center{align-items: center;}
.flex-ali-end{align-items: flex-end;}
.flex-ali-base{align-items: baseline;}
.flex-wrap{flex-wrap: wrap;}
.flex-nowrap{flex-wrap: nowrap;}
.flex-1{flex: 1;}
.flex-2{flex: 2;}
.flex-3{flex: 3;}

// --------------公共padding margin-------------
.pa-sm{padding: 5.55rpx;}
.pa-md{padding: 27.77rpx;}
.pa-row-md{padding: 0 27.77rpx;}

.tab-add{
	height: 56px;
	width: 100%;
}

// ----ui框架样式更改
.my-swiper{
	.u-swiper-wrap{
		box-shadow:0 7px 7px -5px #000000;
	}
}
.reverse-icon{
	transform: rotate(180deg);
}
.revers-word{
	text-align: right;
}
// ------- 通知栏反向
.notice-reverse{
	.u-swiper-item{
		justify-content: flex-end !important;
	}
}